{% extends 'base.html' %}

{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/codemirror.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/addon/simple.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/addon/matchbrackets.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/addon/closebrackets.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/addon/placeholder.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/ltl.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/helpers.js') }}"></script>
	<link href="{{ url_for('static', filename='css/codemirror.min.css') }}" rel="stylesheet">
{% endblock js %}

{% block content %}
<div class="row">
	<div class="col-7" tabindex="0">
		<div class="row">
			<h4 class="col fw-bolder text-body-emphasis">
				Enter LTL Specification:
			</h4>
			<div class="col justify-content-md-end">
				<button class="float-end btn btn-light" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Examples <i class="bi bi-plus-square"></i></button>
				{% include 'FormExamples.html' %}
			</div>
		</div>
		<form action="/" method="POST" class="row" id="{{ type }}-form" enctype="multipart/form-data">
			<fieldset id="ltl">
				<div class="mb-3" id="assumptions">
					<label for="assumptions_textarea" class="form-label">Assumptions</label>
					<textarea style="width: 100%; display: none;" name="assumptions" id="assumptions_textarea" placeholder="Enter assumptions here (can be line-separated)"></textarea>
				</div>
				<div class="mb-3" id="guarantees">
					<label for="guarantees_textarea" class="form-label">Guarantees</label>
					<textarea name="guarantees" id="guarantees_textarea" placeholder="Enter guarantees here (can be line-separated)"></textarea>
				</div>
			</fieldset>
			<fieldset id="io">
				<div class="mb-3" id="io-i">
					<label for="input_textarea" class="form-label">Input Propositions</label>
					<textarea name="inputs" id="inputs_textarea" placeholder="Enter comma-separated input propositions here"></textarea>
				</div>
				<div class="mb-3" id="io-o">
					<label for="output_textarea" class="form-label">Output Propositions</label>
					<textarea style="width: 100%; display: none;" name="outputs" id="outputs_textarea" placeholder="Enter comma-separated output propositions here"></textarea>
				</div>
			</fieldset>
			{% block traces %} {% endblock traces %}
		</form>
	</div>
	<div class="col-5">
		{% block footer %}{% endblock %}
	</div>
</div>
{% endblock content %}