{% extends 'base.html' %}

{% block js %}{% endblock js %}

{% block title %} Documentation: {{ examples[exampleName].title }} {% endblock title %}
{% block subtitle %} {{ examples[exampleName].subtitle }} {% endblock subtitle %}

{% block content %}
	<div class="row">
		<nav class="col-md-2 sidebar">
			<div class="sidebar-sticky">
				<ul class="nav flex-column">
					{% for example in examples.keys() %}
					<li class="nav-item">
						<a class='nav-link {{ active if example == exampleName}}' href='{{ examples[example].url }}'>{{ examples[example].title }}</a>
					</li>
					{% endfor %}
					</li>
				</ul>
			</div>
		</nav>
		<main class="col-md-9">
			<div class="blog-content">
				{% block example_content %} {% endblock %}
			</div>
		</main>
	</div>
{% endblock content %}