{% extends 'base.html' %}

{% block js %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/codemirror.min.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/addon/simple.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/addon/matchbrackets.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/addon/closebrackets.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/addon/placeholder.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/codemirror/ltl.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/helpers.js') }}"></script>
	<link href="{{ url_for('static', filename='css/codemirror.min.css') }}" rel="stylesheet">
{% endblock js %}

{% block content %}
<div class="row">
	<div id="navbar-example3" class="col-2 h-100 flex-column align-items-stretch pe-4 border-end collapse">
		<nav class="nav nav-pills flex-column">
			<a class="nav-brand h5 text-body-emphasis">Examples: </a>
			<a class="nav-link" href="#ltl" id="SimpleArbiter2">Simple Arbiter n=2 </a>
			<a class="nav-link" href="#ltl" id="SimpleArbiter3">Simple Arbiter n=3 </a>
			<a class="nav-link" href="#ltl" id="LiftFloor3">Lift floors=3 </a>
			<a class="nav-link" href="#ltl" id="TowerCranes2">Tower Cranes=2 </a>
			<a class="nav-link" href="#ltl" id="CraneController2">Crane Controller=2 </a>
			<a class="nav-link" href="#ltl" id="TowerCranes3">Tower Cranes=3 </a>
		</nav>
	</div>
	<div class="col-7" tabindex="0">
		<div class="header">
			<h4 class="fw-bolder text-body-emphasis"><span class="navbar-toggler"><button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-example3" aria-controls="navbar-example3" aria-expanded="true" aria-label="Toggle navigation"><i class="bi bi-justify"></i></button></span>Enter LTL Specification:</h4>
		</div>
		<form action="/" method="POST" class="row" id="{{ type }}-form" enctype="multipart/form-data">
			<fieldset id="ltl">
				<div class="mb-3" id="assumptions">
					<label for="assumptions_textarea" class="form-label">Assumptions</label>
					<textarea style="width: 100%; display: none;" name="assumptions" id="assumptions_textarea" placeholder="Enter assumptions here (can be line-separated)"></textarea>
				</div>
				<div class="mb-3" id="guarantees">
					<label for="guarantees_textarea" class="form-label">Guarantees</label>
					<textarea name="guarantees" id="guarantees_textarea" placeholder="Enter guarantees here (can be line-separated)"></textarea>
				</div>
			</fieldset>
			<fieldset id="io">
				<div class="mb-3" id="io-i">
					<label for="input_textarea" class="form-label">Input Propositions</label>
					<textarea name="inputs" id="inputs_textarea" placeholder="Enter comma-separated input propositions here"></textarea>
				</div>
				<div class="mb-3" id="io-o">
					<label for="output_textarea" class="form-label">Output Propositions</label>
					<textarea style="width: 100%; display: none;" name="outputs" id="outputs_textarea" placeholder="Enter comma-separated output propositions here"></textarea>
				</div>
			</fieldset>
			{% block traces %} {% endblock traces %}
		</form>
	</div>
	<div class="col-3">
		{% block footer %}{% endblock %}
	</div>
</div>
{% endblock content %}