<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Examples</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="row">
					{% for example in examples.keys() %}
					{% if examples[example].id != "ignore" %}
					<div class="col-4 mb-3 mb-sm-0">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">{{ examples[example].title }}</h5>
								<p class="card-text">{{ examples[example].subtitle }}</p>
								<a href="#" class="btn btn-primary" onclick='setData("{{ example }}")' data-bs-dismiss="modal">Try!</a>
								<a href="{{ examples[example].url }}" class="btn btn-secondary">Learn More...</a>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>